/* app global css */
@import "./utils/variables.css";

html,
body {
  width: 100%;
  margin: 0;
  background: var(--color-tertiary-opacity);
}
.p-title {
  font-size: 2em;
}
.p-subtitle {
  font-size: 1.2em;
}
.page-center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}
.login-page,
.sign-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.login-page__banner-warning,
.sign-up__banner-warning {
  background: var(--color-mustard-app);
  margin-bottom: 20px;
}
.bg-img-main {
  position: relative;
}
.bg-img-main::before {
  content: "";
  position: absolute;
  background: url("../assets/img/backgroundImgMain.png");
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -1;
}

.box-form__credentials-user {
  max-width: 500px;
  width: 90%;
  padding: 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 18px;
  border-radius: 8px;
}
.box-form__credentials-user .q-input {
  margin-bottom: 20px;
}
.box-form__credentials-user__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}
.box-form__credentials-user__actions__button-entry,
.box-form__credentials-user__actions__button-entry--google {
  width: 100%;
  margin-bottom: 20px;
}
.box-form__credentials-user__actions__button-entry--google {
  background-color: #4185f4 !important;
}

@media (min-width: 890px) {
  .bg-img-main::before {
    background-size: cover;
  }
}
@media (min-width: 1024px) {
  .bg-img-main::before {
    background: none;
  }
  .bg-img-main__block-info::before,
  .login-page__block-info::before,
  .sign-up__block-info::before {
    content: "";
    position: absolute;
    background: url("../assets/img/backgroundImgMain.png");
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
  }
  .box-form__credentials-user {
    width: 100%;
  }
  .page-center-flex {
    padding: 16px 80px;
  }
}
